.logoIcon
{
height:40px;
font-size:30pt;
color:"#2ec723";
background-color:gray;
}
.rightHeader
{
float:right;
}
.headerDivision
{
width:95hw;
height:20vh;
}
.footerDivision
{
width:95hw;
height:10vh;
}
.contentDivision
{
width:95hw;
height:70vh;
}
